name: 05. slack

on:
    push:

jobs:
    slack:
        runs-on: ubuntu-latest

        env:
          var_msg: ${{ vars.message }}
          sec_msg: ${{ secrets.message2 }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

        steps:
            - name: log
            #   run: echo "정상 작동 중"
              run: |
               echo "${{ vars.message }}"
               echo "${{ secrets.message2 }}"
               echo "${sec_msg}"
            
            - name: slack
              uses: slackapi/slack-github-action@v2.1.1
              with:
                webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
                webhook-type: incoming-webhook

                payloads: |
                   text: |
                      ${SLACK_WEBHOOK_URL}
                      - repo: ${{ github.repository }}
                      - branch: ${{ github.ref_name }}
                      - actor: ${{ github.actor }}
                      - sha: ${{ github.sha }}